{% extends 'movienook/base.html' %}

{% block content %}

{% if page == 'login' %}
<body>
  <div class="content">
    <div class="popup" id="popup" style=" width: 25%; backdrop-filter: blur(16px); box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);">
        <form method="POST" action="">
          {% csrf_token%}
          <h2 class="login__title" id="login__title">LOGIN</h2>
          <label id="login_label">Username:</label><br>
          <input id="login_input" type="text" name="username" placeholder="Enter username"><br>
      
          <label id="login_label">Password:</label><br>
          <input id="login_input" type="password" name="password" placeholder="Enter password"><br>
      
          <input style="height: 40px; font-size: small; border-radius: 20px;" type="submit" value="Login" name="" id="">
        </form>
          
          <p style="color: rgba(240, 248, 255, 0.267); text-align: center;">Haven't signed up yet?</p>
          <a href="{% url 'signup' %}"><p  style="text-align: center; color: rgb(92, 0, 231);"> Sign up</p></a>
    </div>

{% else %}

      <div class="popup" style=" text-align: left;">
        <h2 class="login__title" id="login__title">SIGN UP</h2>
        <form method="POST" action="" style="margin-left: 10%; text-align: left;">
          {% csrf_token%}
          
          {{ form.as_p }}
          <input style="margin-left: 35%; height: 40px; font-size: small; border-radius: 20px;" type="submit" value="Signup" >
        </form>
          <p style="color: rgba(240, 248, 255, 0.267); text-align: center;">Already signed up?</p>
          <a  href="{% url 'login' %}"><p style="text-align: center; color: rgb(92, 0, 231);"> Log in</p></a>
      </div>

  </div>
  
</body>

{% endif %}

  
{% endblock content%}

 <!-- <h2>LOGIN</h2>
        <p>Username: <input type="text" ></p>
        <p>Email Addrress: <input type="text"></p>
        
        
        <button onclick="closePopup()">Cancel</button>
        <button onclick="closePopup()">Log in</button> -->

        <!-- <h2>LOGIN</h2>
        <p>Username: <input type="text" ></p>
        <p>Email Addrress: <input type="text"></p>
        
        
        <button onclick="closePopup()">Cancel</button>
        <button onclick="closePopup()">Log in</button> -->
 <!-- <label id="login_label">Username:</label><br>
  <h2 class="login__title" id="login__title">SIGN UP</h2>
        <input id="login_input" type="text" name="username" placeholder="Enter username"><br>
    
        <label id="login_label">Password:</label><br>
        <input id="login_input" type="password" name="password" placeholder="Enter password"><br> -->
    